<nav class="nav">
    <h1>
        E Com App
    </h1>
    <div class="nav-search">
        <input type="text" placeholder="Search for products" />
        <button>Search</button>
    </div>
    <ul>
        <li routerLinkActive="active"><a routerLink="/">HOME</a></li>
        <li routerLinkActive="active"><a routerLink="/login">LOGIN</a></li>  <!-- Use routerLink for all navigations -->
        <li routerLinkActive="active"><a routerLink="/product">PRODUCT</a></li>
        <li routerLinkActive="active"><a routerLink="/signup">SIGN UP</a></li>
        <li routerLinkActive="active"><a routerLink="/cart">CART(0)</a></li>
        <li routerLinkActive="active"><a routerLink="/wishlist">WISHLIST</a></li>
        <li routerLinkActive="active"><a routerLink="/offers">OFFERS</a></li>
    </ul>
</nav>