<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="wishlist-box">
                <h2 class="title">Your Wishlist</h2>
                <div class="group">
                    <label class="label">Product 1</label>
                    <div class="wishlist-item">
                        <span class="item-name">Item Name</span>
                        <span class="item-price">$40</span>
                        <button type="button" class="button remove-button">Remove</button>
                    </div>
                </div>
                <div class="group">
                    <label class="label">Product 2</label>
                    <div class="wishlist-item">
                        <span class="item-name">Item Name</span>
                        <span class="item-price">$20</span>
                        <button type="button" class="button remove-button">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
