<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="cart-box">
                <h2 class="title">Your Cart</h2>
                <div class="group">
                    <label class="label">Product 1</label>
                    <div class="cart-item">
                        <span class="item-name">Item Name</span>
                        <span class="item-quantity">Quantity: 2</span>
                        <span class="item-price">$40</span>
                    </div>
                </div>
                <div class="group">
                    <label class="label">Product 2</label>
                    <div class="cart-item">
                        <span class="item-name">Item Name</span>
                        <span class="item-quantity">Quantity: 1</span>
                        <span class="item-price">$20</span>
                    </div>
                </div>
                <div class="group">
                    <div class="total-price">Total: $60</div>
                </div>
                <div class="group">
                    <button type="button" class="button">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
