<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="product-box">
                <div class="product-form">
                    <div class="group">
                        <label for="product-name" class="label">Product Name</label>
                        <input type="text" class="input" id="product-name" placeholder="Enter product name">
                    </div>
                    <div class="group">
                        <label for="product-description" class="label">Product Description</label>
                        <textarea class="input" id="product-description" rows="3"
                            placeholder="Enter product description"></textarea>
                    </div>
                    <div class="group">
                        <label for="product-price" class="label">Product Price</label>
                        <input type="number" class="input" id="product-price" placeholder="Enter product price">
                    </div>
                    <div class="group">
                        <label for="product-quantity" class="label">Product Quantity</label>
                        <input type="number" class="input" id="product-quantity" placeholder="Enter product quantity">
                    </div>
                    <div class="group">
                        <label for="product-image" class="label">Product Image</label>
                        <input type="file" class="input" id="product-image">
                    </div>
                    <div class="group">
                        <button type="submit" class="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>