body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

.product-box {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 500px;
    position: relative;
    background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.product-form {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(0, 77, 77, .9);
}

.product-form .group {
    margin-bottom: 15px;
}

.product-form .label,
.product-form .input,
.product-form .button {
    width: 100%;
    color: #fff;
    display: block;
}

.product-form .input,
.product-form .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.product-form .input:focus {
    outline: none;
    border-color: #1161ee;
}

.product-form .label {
    color: #aaa;
}

.card {
    width: 500px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 5%;
}

.section-products {
    padding: 80px 0 54px;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1 {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
    font-size: 1rem;
    display: inline-block;
}
