@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  max-width: 570px;
  width: 100%;
  background: white;
  padding: 40px;
}

.formbold-form-title {
  font-weight: 600;
  font-size: 28px;
  color: #07074d;
  margin-bottom: 15px;
}

p {
  font-size: 16px;
  color: #536387;
  margin-bottom: 30px;
}

.formbold-form-label {
  color: #536387;
  font-size: 14px;
  margin-bottom: 10px;
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #fff;
  font-size: 16px;
  color: #536387;
  margin-bottom: 15px;
}

.formbold-form-input:focus {
  border-color: #6a64f1;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.formbold-btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 5px;
  background-color: #6a64f1;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 25px;
}

.formbold-btn:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}
