<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="offers-box">
                <h2 class="title">Special Offers</h2>
                <div class="group">
                    <label class="label">Offer 1</label>
                    <div class="offer-item">
                        <span class="offer-description">Get 20% off on orders above $50!</span>
                    </div>
                </div>
                <div class="group">
                    <label class="label">Offer 2</label>
                    <div class="offer-item">
                        <span class="offer-description">Buy 2 get 1 free!</span>
                    </div>
                </div>
                <div class="group">
                    <label class="label">Offer 3</label>
                    <div class="offer-item">
                        <span class="offer-description">Free shipping on orders above $100!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
